@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
}

.amenities2-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: 5%;
    margin-left: 5%;
}

.amenities-images{
    display: flex;
}

.left-images{
    align-items: center;
}

.upper{
    position: relative;
    left: -10%;
    top: 3%;
    z-index: 1;
}

.upper img{
    margin-right: 25px;
}

.upper-middle{
    position: relative;
    top:-15px;    
    z-index: 2;
    justify-content: center;
    margin-left: 22%;
    margin-bottom: 10px;
}

.lower{
    position: relative;
    left: -10%;
    top: -5%;
    z-index: 1;
}

.lower-middle{
    position: relative;
    top:-15px;    
    z-index: 2;
    justify-content: center;
    margin-left: 22%;
    margin-top: 5px;
}

.lower img{
    margin-right: 25px;
}

.amenities-content{
    margin-left: 10rem;
    /* margin-right: 10rem; */
}

.amenities-content p{
    font-size: 24px;
    color: #a67564;
    line-height: 2.5rem;
    font-family: 'Josefin Sans', sans-serif;
}