@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* #overview{
    height: 100vh;
} */

#explore{
    height: 100vh;
}

.explore-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url(../../Resources/welcome_window/01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: space-around;
    line-height: 3rem;
    
}

.explore-upper {
    display: flex;
    min-width: 100%;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    max-height: fit-content;
    
}

.explore-upper-left{
    height: 200px;
    width: 100px;
}

.explore-upper-left img{
    max-height: 100%;
}

.explore-upper-right{
    height: 200px;
    width: 100px;
}

.explore-upper-right img{
    max-height: 100%;
}


.explore-upper-right {
    /* margin: 0 30px; */
    /* padding: 5px; */
    mar
}





.explore-line {
    
    height: 80px;
    width: 2px;
    /* edit this if you want */
    background-color: #f2f1ef;  
    margin-top: 6rem;
    margin-left: -25rem;
} 

.explore-middle {
    text-align: center;
    width: 100%;
    /* height:60%; */
    font-family: 'Playfair Display', serif;
    
}

#explore-middle-main {
    font-size: 100px;
    color: #f2f1ef;
    margin: 5rem 2rem;
    height: auto;
}

#explore-middle-sub {
    font-size: 40px;
    color: #f2f1ef;
}

#explore-button {
    width: 224px;
    height: 44px;
    border-radius: 22px;
    font-size: 24px;
    background-color: #f2f1ef;
    color: #a67564;
    border: 3px solid #d9b18e;
    font-family: 'Playfair Display', serif;
}