*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



p{
    font-size: 1.5rem;
}

.adjust-amenities-margins{
    margin-left: -10%;
}

@media (max-width: 758px) { 
    .adjust-amenities-margins{
        margin-left: 0;
    }

    .amenities-2-center{
        margin-left: 50%;
    }
 }
