*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



p{
    font-size: 1.5rem;
}

@media (max-width: 768px) { 
    .adjust-amenities-margins{
        margin: auto;
        align-self: center;
    }
 }
