*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.amenities-1-heading{
    text-align: center;
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
    color: #a67564;
    margin-bottom: 5%;
}

p{
    font-size: 1.5rem;
}



@media (max-width : 992px) {
    .adjust-margins {
        margin-top: 20px;
    }
}