@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #f2f1ef;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    
}

section{
    height: 100vh;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.explore-container{
    height: 100vh;
    width: 100%;
    background-image: url(../assets/welcome_window/01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.explore-upper{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.explore-line{
    display: flex;
    width: 2px;
    height: 100px;
    background-color: #d9d2cc;
    margin-top: 1rem;
}

.explore-left{
    height: 200px;
    display: flex;
    margin-right: 1rem;
}

.explore-left img{
    max-height: 100%;
}
.explore-right{
    height: 200px;
    display: flex;
    margin-left: 1rem;
}

.explore-right img{
    max-height: 100%;
}

.explore-middle{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    text-align: center;
    margin-top: 10%;
    font-family: 'Playfair Display', serif;
}

.explore-middle h1{
    font-size: 100px;
    color: #d9d2cc;
}

.explore-middle h2{
    font-size: 50px;
    color: #d9d2cc;
}

.explore-lower{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.explore-explore-btn{
    width: 224px;
    height: 44px;
    border-radius: 22px;
    background-color: #a67564;
    color: #d9d2cc;
    font-size: 24px;
    border: 2px solid #d9b18e;
    font-family: 'Playfair Display', serif;
    padding-bottom: 5px;
}

/* Overview */

.navbar-container{
    max-width: 100%;
}

.overview-navbar{
    width: 100%;
    text-align: center;
    
    margin-top: 5%;
}

.overview-navbar li{
    list-style: none;
    display: inline-block;
    color: #f2f1ef;
    margin-right: 5px;
}

.overview-navbar a{
    color: #a67564;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
}

.overview-line{
    background-color: #a67564;
    display: flex;
    width: 1px;
    height: 10px;
}

.overview-logo-left{
    height: 100px;
    position: relative;
    top: 10%;
    left: -300%;
}
.overview-logo-right{
    height: 100px;
    position: relative;
    top: 10%;
    left: 300%;
}

.overview-logo-left img{
    max-width: 100%;
    max-height: 100%;
}
.overview-logo-right img{
    max-width: 100%;
    max-height: 100%;
}

.overview-nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

#overview-overview-section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overview-overview-container{
    display: flex;
    width: 100%;
    max-height: 100%;
    position: relative;
    transform: translateY(-20%);
}

.overview-overview-images{
    display: flex;
    width: 50%;
    display: inline-block;
    position: relative;
    /* margin-left: 10%; */
}

.overview-left-image{
    display: inline-block;
    position: absolute;
    width: 70%;

}

.overview-left-image img{
    max-width: 100%;
    max-height: 100%;
}

.overview-right-image{
    display: inline-block;
    position: absolute;
    width: 40%;
    top: -25%;
    left: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.overview-right-image img{
    max-width: 100%;
    max-height: 100%;
    

}

.overview-overview-content{
    width: 50%;
    display: inline-block;
    margin-right: 10%;
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    color: #a67564;
}

.overview-overview-content h1{
    font-size: 50px;
}

.overview-overview-content img{
    max-width: 100%;
    max-height: 100%;
}

/* Highlight */

#highlight-main-header{
    font-size: 50px;
    height: 100%;
    color: #a67564;
}

.highlight-container{
    width: 100%;
    justify-content: center;
    -ms-flex-align: center;
    display: flex;
}

.highlight-highlight-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-left:  5%;
    margin-right: 5%;
    align-items: center;
    justify-content: center;
    position: absolute;
    
}

/* .left{
    max-width: 50%;
} */

#highlight-main-header{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.highlight-middle{
    position: relative;
    left: -10%;
    top: 10%;
    
}

.highlight-middle img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.highlight-text{
    color: #a67564;
    /* line-height: 2rem; */
}

.highlight-text h1{
    font-size: 40px;
}

.highlight-text p{
    font-size: 24px;
    padding-bottom: 10px;
}

.highlight-middle img:nth-of-type(1){
    margin-bottom: 10%;
    margin-top: 10%;
}

.highlight-right{
    /* min-height: 100%; */
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: -8%;
    color: #a67564;
}



.highlight-right-upper{
    margin-bottom: 90%;
}

/* Amenities-1 */

#amenities-amenities-header{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
    font-family: 'Josefin Sans', sans-serif;
}

#amenities-amenities-header{
    font-size: 50px;
    color: #a67564;
}

.amenities-amenities-container{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    height: 100%; 
    /* width: 100%; */
    margin-left: 5%;
    margin-right: 5%;
}

.amenities-amenities-images{
    display: flex;
}

#amenities-two-small-left{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#amenities-one-small-left{
    display: flex;
    justify-content: center;
    align-items: center;
}

#amenities-two-small-right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-bottom: 2%;
}

#amenities-two-small-right img{
    margin-left: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#amenities-one-small-right{
    margin-bottom: 10px;

}
#amenities-one-small-right img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
#amenities-one-small-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

#amenities-big-right{
    z-index: -1;
}

#amenities-big-right img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#amenities-big-left{
    position: relative;
    left: 70px;
}

#amenities-big-left img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#amenities-two-small-left img{
    margin-left: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.amenities-left{
    font-size: 24px;
    color: #a67564;
    font-family: 'Josefin Sans', sans-serif;
}

#amenities-one-small-left img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

/* Amenities-2 */

.amenities2-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: 5%;
    margin-left: 5%;
}

.amenities-images{
    display: flex;
}

.amenities-images img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.left-images{
    align-items: center;
}

.upper{
    position: relative;
    left: -10%;
    top: 3%;
    z-index: 1;
}

.upper img{
    margin-right: 25px;
}

.upper-middle{
    position: relative;
    top:-15px;    
    z-index: 2;
    justify-content: center;
    margin-left: 22%;
    margin-bottom: 10px;
}

.lower{
    position: relative;
    left: -10%;
    top: -5%;
    z-index: 1;
}

.lower-middle{
    position: relative;
    top:-15px;    
    z-index: 2;
    justify-content: center;
    margin-left: 22%;
    margin-top: 5px;
}

.lower img{
    margin-right: 25px;
}

.amenities-content{
    margin-left: 10rem;
    /* margin-right: 10rem; */
}

.amenities-content p{
    font-size: 24px;
    color: #a67564;
    line-height: 2.5rem;
    font-family: 'Josefin Sans', sans-serif;
}

/* Amenities-3 */

.amenities3-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}

.middle{
    display: flex;
    flex-direction: column; 
    position: relative;
    left: 50px;
}

.middle img{
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.left{
    margin-right: 20rem;
    line-height: 4rem;
}

.left p{
    font-size: 24px;
    color: #a67564;
    font-family: 'Josefin Sans', sans-serif;
}

.right{
    padding-bottom: 2.5rem;
}
.right img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

/* Amenities-internal */

.amenitiesInternal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.amenities-internal-upper{
    position: relative;
    z-index: -1;
    top: 30px;
}

.amenities-internal-left img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.amenities-internal-upper img{
    margin-right: 20px;
}

.amenities-internal-middle{
    width: 100%;
    z-index: 1;
}

.amenities-internal-middle img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.amenities-internal-lower{
    position: relative;
    z-index: -1;
    top: -30px;
}

.amenities-internal-lower img{
    margin-right: 20px;
}

.amenities-internal-right{
    margin-left: 5rem;
    font-family: 'Josefin Sans', sans-serif;
}

#amenities-internal-right-head{
    font-size: 50px;
    color: #a67564;
    margin-bottom: 5rem;
}

.amenities-internal-right p{
    font-size: 24px;
    color: #a67564;
}

.amenities-internal-right p:nth-of-type(7){
    padding-left: 15px;
}

/* Location */

#location h1{
    text-align: center;
    margin-top: 3%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    color: #a67564;
}

.location-container{
    margin-top: 5%;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    /* height: 100vh; */
}

.location-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Josefin Sans', sans-serif;
    color: #a67564;
    margin-top: 5%;
    height: 100%;
}

.location-left{
    font-size: 18px;
    line-height: 2rem;
    margin-right: 10rem;
}
.location-middle{
    font-size: 18px;
    line-height: 2rem;
    margin-right: 10rem;
}

.location-right{
    margin-right: 10rem;
}

/* Disclaimer */

.disclaimer{
    margin-bottom: 20%;
    padding-bottom: 20%;
}

.disclaimer h1{
    text-align: center;
    /* margin: 10% 0 0 0; */
    margin-top: 5%;
    color: #a67564;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
}

.disclaimer p{
    text-align: center;
    color: #a67564;
    margin:0 15%;
    margin-top: 2%;
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
}

.disclaimer a{
    color: #a67564;
    font-style: italic;
}