*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.highlight-heading{
    text-align: center;
    /* padding-top: 2%; */
    color: #a67564;
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
}

h1{
    color: #a67564;
}

p{
    font-size: 1.5rem;
    color: #a67564;
}

.highlight-overlap{
    margin-left: -10%;
}

.box-shadow-class{
    box-shadow: 14px 12px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width : 1200px) {
    .highlight-overlap{
        margin-left : auto;
        align-self: center;
    }
    /* .container-fluid{
        margin: auto;
    } */
}